{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="border-bottom"></div>
        <form method="post">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea type="text" class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="btn btn-outline-secondary my-3" style="float:right">저장하기</button>
        </form>
    </div>
{% endblock %}