{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- Page Header-->
    <header class="head text-center">{# style="background-color: #919294"> #}
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading text-center">
                        <h1 class="text-center">POST</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <a href="{% url 'blog:poster_create' %}" class="btn btn-outline-secondary m-3" style="float:right">글 작성하기</a>
    <div class="container my-lg-auto">
        <table class="table">
            <tbody>
                {% if poster_list %}
                    {% for poster in poster_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center"><a href="{% url 'blog:detail' poster.id %}">{{ poster.subject }}</a></td>
                            <td class="text-lg-end">{{ poster.create_date }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="3">게시물이 없습니다.</td>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}
{% endblock %}