{% extends 'index.html' %}
{% load static %}
{% load blog_filter %}
{% block content %}
    <!-- Page Header-->
    <header class="head text-center">{# style="background-color: #919294"> #}
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading text-center">
                        <h1 class="text-center">POST</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <a href="{% url 'blog:poster_create' %}" class="btn btn-outline-secondary m-3" style="float:right">글 작성하기</a>
    <div class="container my-lg-auto">
        <table class="table">
            <tbody>
                {% if poster_list %}
                    {% for poster in poster_list %}
                        <tr class="text-center">
{#                            <td>{{ poster_list.paginator.count|sub:poster_list.start_index|sub:forloop.counter0|add:1 }}</td>#}
                            <td>{{ poster.id }}</td>
                            <td class="text-start">
                                <a href="{% url 'blog:detail' poster.id %}">{{ poster.subject }}</a>
                                <span class="text-danger small mx-2"></span>
                            </td>
                            <td>{{ poster.create_date }}</td>
                            <td>{{ poster.author.username }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="4">게시물이 없습니다.</td>
                {% endif %}
            </tbody>
        </table>
        <!-- 페이징 처리 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if poster_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ poster_list.previous_page_number }}"></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in poster_list.paginator.page_range %}
                {% if page_number >= poster_list.number|add:-5 and page_number <= poster_list.number|add:5 %}
                    {% if page_number == poster_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if poster_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ poster_list.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% include 'footer.html' %}
{% endblock %}