{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>YEJI's Blog</h1>
                        <span class="subheading">My First Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container my-lg-auto">
        <table class="table">
            <tbody>
                {% if poster_list %}
                    {% for poster in poster_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center"><a href="{% url 'blog:detail' poster.id %}">{{ poster.subject }}</a></td>
                            <td class="text-lg-end">{{ poster.create_date }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="3">게시물이 없습니다.</td>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}
{% endblock %}